@keyframes comein{
    0%{margin-left:1000px;opacity: 0;}
    50%{margin-left: 0px;opacity: 1;}
    75%{margin-left: 0px;opacity: 1;}
    100%{margin-left:1000px;opacity: 0;}
}

body{
    overflow-x: hidden;
}
.title-s{
    width: 80%;
    margin-left: 10px;
    border-bottom: 3px dashed #eee;
}
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.5s;
    z-index: 999;
    background-color: #fff;
}
.header-inner{
    width: 95%;
    margin: 0 auto; 
    padding: 10px 0;
}
.logo{
    display: block;
    width: 80%;
    margin: 0 auto;
}
.header-nav{
    width: 50%;
}
.logo>img{
    width: 100%;
}
.nav-item{
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    
}

.header-inner>h1{
    margin: 0;
}
.welcome{
    width: 100%;
    text-align: center;
    font-size: 5rem;
    color: #fff;
    line-height: 500px;
    margin-top: 0;
}
.welcome{
    animation: comein 5s infinite;
}

.welcome>span{
    text-decoration: underline;
    text-decoration-color: aliceblue;
}
.nav-a{
    color: #656565;
    text-decoration: none;
    transition: all ease-in-out 0.4s;
    border-bottom: 2px solid #fff
}
.nav-a:hover{
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid #111
}
.banner{
    width: 100%;
    background: url('../img/back.jpg') no-repeat;
    background-size: 100%;
}
/* introduce */
#introduce>div:nth-child(1){
    display: flex;
    justify-content: space-around;
    background-color: #eee;
}
#introduce>div:nth-child(1)>h4{
    width: 40%;
    text-align: center;
  
}
#introduce{
    width: 100%;
    margin-top: 15%;
}
.introduce-sec{
    width: 95%;
    margin: 0 auto;
  
    margin-top: 25px;
   
}
#accordion{
    width: 80%;
    margin: 0 auto;
}
.introduce-inner{
    width: 95%;
    margin: 0 auto;
}
.title{
    width: 100%;
    text-align: center;
    line-height: 6;
}
.introduce-content{
    width: 100%;
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center; */
}
.introduce-right{
    width: 100%;
}
.introduce-right>h3{
    width: 100%;
    text-align: center;
    line-height: 3;
}
.introduce-right>article{
    width: 80%;
    margin: 0 auto;
}
.introduce-right>article>p{
    width: 100%;
    line-height: 3
}
.card-body>ul{
    padding: 0
}
.card-body>ul>li{
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}
.card-body>ul>li>svg{
    margin-right: 10px;
}
.progress{
    width: 100%;
    margin-top: 20px;
}
.skill{
    width: 80%;
    margin: 0 auto;
}
.skill>h3{
    width: 100%;
    text-align: center;
    line-height: 3
}
.gradges{
    display: inline-block;
    width: 50%;
}
/* life */
#life{
    width: 100%;
}
.life-inner{
    width: 95%;
    margin: 0 auto;
}
.life-time{
    width: 80%;
    margin: 0 auto;
}
.life-time>ul{
    list-style: none;
    padding: 0
}
.life-time>ul>li{
    width: 100%;
    margin-top: 15px;
}
.life-con{
    border-top: 3px solid #cf4a5c;
    width: 100%;
    border-radius: 5px;
    position: relative;
    padding: 10px;
    box-shadow:0 40px 100px rgba(0,0,0,.12);
}
.detail>li{
    border-bottom: 1px solid #eee;
    padding: 5px 0;
}
/* learn */
.learn{
    width: 100%;
}
.learn-inner{
    width: 95%;
    margin: 0 auto;
    padding-bottom: 50px;
}
.learn-con{
    width: 70%;
    margin: 0 auto;
}
.pagination{
    margin-top: 10px;
}
.learn-head{
    width: 20%;
    border:1px solid rgba(0,0,0,.125);
    border-radius: 3px 3px 0 0;
    margin-bottom: 10px;
}
.learn-wrap{
    width: 100%;
    display: flex;
    justify-content: space-between
    
}
.card{
    border: none;
}
.learn-ul{
    border: none;
}
.learn-ul>li{
    border: none;
    margin-top: 10px;
    box-shadow:0 40px 100px rgba(0,0,0,.12);
    
}
.api{
    display: none;
}
.learn-ul>li>div>a{
    width: 80%;
    display: block;
    margin: 0 auto;
}
.learn-ul>li>div>a>span{
    display: inline-block;
    vertical-align: middle;
    width: 80%;
    overflow: hidden;
text-overflow:ellipsis;
white-space: nowrap;
}
.left,.right{
    width: 48%;

}
/*  art*/
#art{
    width: 100%;
}
.art-inner{
    width: 95%;
    margin: 0 auto;
}
.art-con{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}
.art-con-2{
    width: 100%;

    margin-top: 15px;
}
.card{
    transition: all 0.5s
}
.art-con-3{
    width: 100%;
    margin-top: 15px;
}
.a-cnode{
    display: flex;
    justify-content: space-around;
}
.art-title{
    width: 100%;
    box-shadow:0 40px 100px rgba(0,0,0,.12);
    margin-bottom: 10%;
}
.art-title>.one{
    display: block;
}
.products-title{
    display: none;
}
#art>.two,#art>.three{
    display: none;
}
.art-title>ul{
    width: 80%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-around
}
.art-title>ul a{
    font-size: 1.5rem;
}
.grid-art{
    display:flex;
    
}
.grid-right{
    justify-content: flex-end
}
.art-title>ul>li>a{
    display: inline-block;
    transition: all 0.5s
}
.art-title>ul>li>a:focus {
    font-weight: bold;
    padding-bottom: 5px;
}
#albums-tab{
    border:none;
    border-bottom: 2px solid #656565
}
/* msg */
#msg{
    width: 100%;
}
.msg-inner{
    width: 95%;
    margin: 0 auto;
}
.have-com{
    width: 100%;
    padding-bottom: 15%;
    border-radius: 4px;
    overflow: hidden;
}
.have-com>ul{
    width: 100%;
    padding: 0;
    margin: 0 auto;
}


.have-com>p{
    width: 100%;
    background-color: #cf4a5c;
    vertical-align: middle;
    margin-bottom: 0;
    padding: 2px 0
}
.have-com>p>svg{
    display: block;
    padding-left: 10px;
}
.have-com>ul>li{
    width: 100%;
    padding: 10px;
    box-shadow:0 -8px 100px rgba(0,0,0,.12);
    border-top: 0;
    margin-bottom: 10px;
}
.comment-area{
    width: 80%;
    margin: 0 auto;
    margin-top: 15px;
    position: relative;
}
#comment{
    width: 100%;
    height: 100px;
    resize: none;
    border-radius: 3px 3px 0 0;
    box-shadow:0 40px 100px rgba(0,0,0,.12);
    outline: none;
}
.com{
    margin: 0
}
.com>svg{
    width: 10%;
    margin-right: 10px;
}
.handle-comment{
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: #cf4a5c;
    border-radius: 3px;
    color: #fff;
    padding: 0 5px;
    text-decoration: none;
    transition: all 0.3s;
}
.tap{
    width: 100%;
    text-align: center;
    font-size: 14px;
}
.contact-private{
    width: 100%;
    background-color: #111;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.contact-private>p{
    text-align: center;
    color: #fff;
    margin-top: 15px;
}
.contact-private>p>svg{
    margin-right: 10px;
    vertical-align: middle
}
.block-com>img{
    width: 30%;
    margin-left: 15%;
}
.mini-header{
    display: none;
    z-index: 999;
    transition: all 0.5s
}
@media screen and (max-width:800px){
.learn-inner .art-title{
    display: block;
}
.learn-inner .art-title ul li h3{
    font-size: 1.2rem;
    font-weight: bold;
    padding-left: 5px;
}
.learn-inner .art-title ul li:nth-child(1) h3{
    padding-left: 0px;
}
.learn-con{
    width: 95%;
}
.logo-con{
    width: 100%;

}
.logo-con>img{
    width: 50%;
    margin: 0 auto;
    display: block;
}
.gradges{
    width: 80%;
}
#nav-h{
    width: 40%;
    line-height: 1.5;
    border-radius: 3px;
    outline: none;
    background-color: #fff;
    border: 1px solid #ccc
}
.header-one{
    display: none;
}
.introduce-sec{
    display: block;
}
.skill{
    margin-bottom: 25px;
}
.mini-header{
    display: block;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #fff;

}
.mini-header-title{
    width: 95%; 
    margin: 0 auto;
    padding: 5px 0;
}
.mini-header-title>h1{
    display: inline-block;
    width: 80%;
    font-size: 4rem;
    margin: 0;
    
}
.mini-header-title>a{
    display: inline-block;
    width: 40px;
    margin-left: 5%
}
.mini-header-title>a>svg{
    display: block;
    width: 50%;
    transition: all 0.4s
}
.mini-header>ul{
    padding: 0;
    margin: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.4s;
}
.mini-header>ul>li{
width: 50%;
padding:5px 12%;
}
.mini-header>ul>li>a{
    display: inline-block;
    width: 80%;
    margin: 0 auto;
}
.mini-header>ul>li>.nav-a{
    text-align: left;
}
.banner{
display: none;
}
.introduce-content{
    display: block
}
.learn-wrap{
    display: block
}
.left{
    width: 100%;
}
.right{
    width: 100%;
}
.art-con{
    display: grid;
    grid-template-columns: 1fr
}
.art-con>.card-art{
    margin-bottom: 10px;
}
.grid-art{
    display:block;
    
}
.products-title{
    display: block;
    text-align: center;
    padding-bottom: 10px;
}
#life .life-time{
   width: 95%;
   margin: 0 auto;
   padding: 0 
}

.art-title{
    display: none;
}
.grid-right{
    display: flex;
    flex-direction: column-reverse;

}
#art>.two,#art>.three{
    display:block;
}
.learn-head{
    width: 36%;
}
.contact-private{
    display: block
}
 .album-cut .col-md-3{
    flex: none;
    width: 33%;
}
}